*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*************UTILITY CLASSES**************/
.container-fluid{
    width: 982px;
    margin: 0 auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-start{
    align-items: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-evenly{
    justify-content: space-evenly;
}


    /*************BACKGROUND CLASSES**************/
.bg-primary{
    background-color: #101a7c;
}
.bg-secondary{
    background-color: #101A7C;
}
.text-primary{
    color: #101a7c;
}
.text-secondary{
    color: #192AD6;
}

.text-white{
    color: #fff;
}


    /*************PADDING CLASSES**************/
.p-1{
    padding: 5px;
}
.pb-1{
    padding-bottom: 5px;
}
.p-2{
    padding: 10px;
}
.p-3{
    padding: 15px;
}
.pb-3{
    padding-bottom: 15px;
}
.py-3{
    padding-top: 15px;
    padding-bottom: 15px;
}
.px-3{
    padding-left: 15px;
    padding-right: 15px;
}
.p-4{
    padding: 20px;
}
.py-4{
    padding-top: 20px;
    padding-bottom: 20px;
}
.px-4{
    padding-left: 20px;
    padding-right: 20px;
}
.p-5{
    padding: 25px;
}
.pl-5{
    padding-left: 25px;
}
.pr-5{
    padding-right: 25px;
}
                    
    /*************MARGIN CLASSES**************/
.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.m-5{
    margin: 25px;
}
                    
    /*************WIDTH CLASSES**************/
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-75{
    width: 100%;
}
.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}
          
    /*************TYPOGRAPHY CLASSES**************/
.text-lg{
    /* font-family: Inter; */
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}
.text-sm-i{
    /* font-family: Inter; */
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    }




.logo{
    height: 73px;

}



.navbar > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    list-style: none;
}
.navbar > ul > li{
    padding: 10px 20px;

}
.nav-link{
    text-decoration: none;
    font-family: 'sans-sherif';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.dropdown{
    z-index: 2;
    position: absolute;
    display: none;
    margin-top: 5px;
    transform: translateX(-25%);
}
.dropdown > ul{
    list-style: none;
}
.dropdown > ul > li{
    padding: 5px 5px;
}
.dropbtn:hover .dropdown{
    display: block;
}
.searchbar{
    /* position: relative; */
    height: 23px;
}
.searchbar > form{
    border: 2px solid #2779FF;
    border-radius: 5px;
    height: 23px;
    box-sizing: content-box;
}
.searchbar > form > input{
    border: 0px;
    outline: 0px;
    height: 23px;
}
.searchbar > form > button{
    background-color: #2779FF;
    border: 0px;
    outline: 0px;
}
.searchbar > form > button > i{
    color: #fff;
    padding: 5px;
    height: 23px;
    /* position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px; */
}




.banner{
    height: 265px;
    width: 100%;
}
.hero-img{
    height: 205px;
    width: 255px;
}
.footer-img > img{
    mix-blend-mode: multiply;
}